* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // white-space: nowrap;
}

body {
  width: 100vw;
  height: 100vh;
  background: #999;
}

@mixin w-h-clamp {
  width: clamp(250px, 20vw, 450px);
  height: clamp(450px, 30vw, 600px);
}

@mixin evenCards {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.25rem;
  border-radius: 16px;
  box-shadow: 4px 4px black;
  border: 2px solid black;

}

header {
  font-family: "Times New Roman", Times, serif;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 3px #444;
  margin-bottom: 2rem;
  padding: 0 4rem;
  white-space: nowrap;
  width: 100vw;
  height: 10vh;
  #header-logo {
    font-size: clamp(2rem, 6vw, 5rem);
  }

  #login {
    &:hover {
      background: #5f5fff;
    }
  }
  #add-book {
    &:hover {
      background: #5fff6f;
    }
  }

 
}

.book-button{
  // background: #00000030;
  width: 12ch;
  height: 4ch;
  font-family: consolas;
  border: none;
  outline:none;
  box-shadow: 2px 2px black;
  transition: box-shadow 200ms;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 0.5rem;
  &:hover{
    scale: 1.05;
    // color: white;
    // background: #00000060;
    font-weight: 800;
    box-shadow:4px 4px black;
  }
}

.book-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, 1);
  height: fit-content;
  justify-content: center;
  align-items: top;
  padding: 2vw;
  gap: 2vw;
  margin: 2vw; 
}

.new-book {
  @include evenCards();
  @include w-h-clamp();
  padding: 1rem;
  background: white;
  position: relative;
  display: grid;
  grid-template-areas: 
  "title title"
  "author author"
  "pages pages"
  "read remove";

  & > *{
    width: 100%;
    word-wrap: normal;
    text-justify: center;
    text-align: center;
    white-space: wrap;
    padding: 1rem;
    flex-shrink:1;
  }

  .new-book-title {
    // background: coral;
    grid-area: title;
    font-family: "Times New Roman", Times, serif;
    text-transform: capitalize;
    font-size: clamp(1rem, 2.5rem, 2.5vw);
  }
  .new-book-author {
    // background: lightblue;
    grid-area: author;
    font-size: clamp(1rem, 1.5rem, 2vw);
    text-transform: capitalize;
  }
  .new-book-pages {
    // background: lightpink;
    grid-area: pages;
  }
  .new-book-read {
    grid-area: read;
  }
  .new-book-remove {
    grid-area: remove;
  }
}

#input-book-screen {
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: -1;
  backdrop-filter: blur(1.5px);
  backdrop-filter: sepia(50%);;
  background: #bbbbbb50;
  position: absolute;
  top: 0;
  left: 0;
  font-family: consolas;
  justify-content: center;
  align-items: center;
}

#input-book-menu {
  position: relative;
  top: 0%;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0px 4px 4px black, 0px -2px 2px black;
  &:hover {

  }


  .input-book-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding:0.25rem;
    gap: 0.25rem;
    border-bottom: 2px solid black;
    border-right: 2px solid black;

    label {
      font-size: 1rem;
      text-indent: 0.5rem;
      background: transparent;
      width: 8ch;
      // color: white;
    }

    input {
      font-size: 1.2rem;
      font-family: 'Times New Roman', Times, serif;
      border: 0px solid black;
      outline: 0px solid black;
      background: rgb(236, 165, 84);
      width: 40ch;
      color: black;
      text-indent: 0.5rem;
      &::placeholder{
        color: white;
      }
    }
  }
}

.button-on {
  background: #44bb44;
  color: black;
}

.button-off {
  background: #4444bb;
  color: white;
}
